    <!-- JS -->
    <script src="{{ site.url }}/assets/js/jquery-1.12.0.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.dlmenu.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.goup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.fitvid.min.js"></script>
    <script src="{{ site.url }}/assets/js/scripts.js"></script>

        <script
          id='athenka-script-tag'
          chatboxWidth='382px'
          chatboxHeight='456px'
          userTextColor='#ffffff'
          userBackgroundColor='#545465'
          botTextColor='#242951'
          botBackgroundColor='#f3f5fa'
          channelId='f6129652-a968-4a39-bee7-c77aec71a5fd'
          channelToken='68b3984f-af4b-4c78-94b1-aaeccade73f3'
          botId='34b18b31-6f60-4dd2-9bca-fc94bc675634'
          type='text/javascript' 
          chatboxTitle='I'm not here but you can ask Luna!'
          src='https://chatbox.athenka.com/chatbox.js'>
        </script>
      
    {% if site.google.analytics %}
    <!-- Asynchronous Google Analytics snippet -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google.analytics }}', 'auto');  
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>
    {% endif %}
    {% if page.comments != false %}
        {% include disqus_comments.html %}
    {% endif %}
